@charset "utf-8";
/* CSS Document */
*{
	margin: 0;
	padding: 0;
}

body {
	font-family: "Arial", serif;
	font-size: 12px;
	background: url("../img/fondo.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	background-size: cover;
}

a {
	text-decoration: none;
}

.estructura {
    float: right;
	width: 70%;
	min-height: 600px;
	margin: auto;
	background: rgba(242, 246, 248, 0.25);
	border: 1px solid rgba(255, 255, 255, 0.4);
	border-top: none;
}

.form {
    width: 20%;
    min-height: 200px;
    margin: auto;
    background: rgba(242, 246, 248, 0.25);
    border: 6px solid rgba(255, 255, 255, 0.4);
    border-top: none;
}
.form form {
    width: 200px;
    min-height: 300px;
    margin: 10px 10px 10px 0px;
    float: left;
    color: #19191a;
    background: rgba(255, 255, 255, 0.5);
    display: block;
}
.form label {
    width: 100px;
    min-height: 29px;
    margin: 10px 10px 10px 0px;
    float: left;
    color: #19191a;
    background: rgba(255, 255, 255, 0.5);
    display: block;
}

.contacto {
    width: 60%;
    color: #36A0FF;
    font-size: 27px;
    padding: 20px;
}

.bigicon {
    font-size: 35px;
    color: #36A0FF;
}

header {
	width: 100%;
	height: 100px;
	text-align: center;
	background: rgba(242, 242, 243, 0.9);
	border-bottom: 2px solid rgba(255, 255, 255, 0.4);
}

header img {
	width: 100%;
	max-width: 200px;
	height: auto;
	padding: 15px;
}

.iconos {
	width: 100%;
	min-height: 375px;
	padding: 35px;
	text-align: center;
}

.iconos a {
	width: 175px;
	min-height: 145px;
	margin: 10px 10px 10px 0px;
	float: left;
	color: #19191a;
	background: rgba(255, 255, 255, 0.5);
	display: block;
}

.iconos a:hover {
	color: #fff;
	background: rgb(99, 123, 243);
}

.iconos img {
	padding: 7px 0;
}

footer {
	width: 100%;
	height: 50px;
	border-top: 2px solid rgba(255, 255, 255, 0.4);
	clear: both;
}

footer p {
	text-align: center;
	line-height: 50px;
	background: rgba(17, 22, 39, 0.9);
}

footer a {
	color: #fff;
}

@media screen and (max-width: 768px){
	.estructura{
		width: 100%;
	}
	.iconos{
		width: 100%;
	}
}







